@media screen and (max-width: 780px) and (min-width: 400px) {
    /* body{
        width: 100%;
    }

    main{
        width: 100%;
    } */
    
    header{
        
        gap:1.5rem;
        display: flex;
        /* justify-content: flex-start; */
    }

    header nav{
        margin-left: -1rem;
        font-size: small;
    }

    .secao1{
        width: 100%;
        margin-top: 2rem;
        display: flex;
        justify-content: flex-start;
    }

    .secao1 img{
        height: 10rem;
        margin-left: -2rem;
    }

    .slogan h1{
        font-size: 137%;
        width: 11rem;
        margin-left: 2rem;
        line-height: 1.6rem;
      
    }

    .botao{
        padding: 8px;
        width: 6rem;
        margin-left: 2rem;
        margin-top: 1rem;
        background-color: var(--cor-terciaria);
    }

    .topico1 h1{
        width: 100%;
        font-size: x-large;
    }

    .texto1 p{
        font-size: medium;
        width: 21rem;
        line-height: 1.8rem;
    }

    .objetivos{
        width: 23rem;
        margin-left: 1.5rem;
        padding: 0rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .topico2 h1{
        width: 100%;
        font-size: x-large;
        margin-left: -2rem;
    }

    .texto2 p{
        font-size: medium;
        width: 19rem;
        line-height: 1.8rem;
        margin-left: -2rem;
    }

    .topico3 h1{
        width: 100%;
        font-size: x-large;
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }

    .dividindo img{
        height: 8rem;
        margin-left: -9rem;
        margin-top: -2rem;
    }

    .feed h1{
        font-size: large;
        width: 18rem;
    }

    .feed p{
        font-size: medium;
        line-height: 1.8rem;
        width: 16rem;
    }

    .feed{
        width: 100%;
        margin-left: 2rem;
    }

    .videochamada{
        width: 100%;
        margin-left: 2rem;
    }

    .videochamada h1{
        font-size: large;
        width: 18rem;
    }

    .videochamada p{
        font-size: medium;
        line-height: 1.8rem;
        width: 16rem;
    }
    
    .chatI{
        width: 100%;
        margin-left: 9rem;
    }

    .chatI img {
        height: 8rem;
        margin-right: 12rem;
        margin-top: 0rem;   
    }

    .chatIn{
        width: 100%;
        margin-left: -19rem;
    }

    .beneficios1, .beneficios2, .beneficios3{
        margin-left: 1rem;
        width: 22rem;
        padding: 1rem;

    }

    .beneficios1 p, .beneficios2 p, .beneficios3 p{
        font-size: medium;
        line-height: 1.5rem;
    }

    .beneficios1 img, .beneficios2 img, .beneficios3 img{
        height: 2rem;
    }


    .beneficios2 img{
        margin-left: 2rem;
    }

    .beneficios2 p{
        width: 14rem;
    }

    .beneficios3 p{
        width: 17rem;
    }
    .planos, .plano {
        flex-direction: column;
        justify-content: center;
    }

    .plano {
        gap: 2rem;
    }

    .planos{
        margin-bottom: -4rem;
    }

    .titulos2{
        font-size: x-large;
    }

    .tecnologias2 {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin-top: 6rem;
    }

    .img-tecnologias img {
        width: 5rem;
        height: 5rem;
    }

    .textos1{
        font-size: medium;
    }

    .img-tecnologias {
        padding: 1rem 1rem 1rem 1rem;
    }

    .img-tecnologias .textos1 {
        margin-top: 2rem;
    }

    .premios{
        margin: 7rem 1rem 17rem 1rem;
    }

    .img-premio {
        width: 10rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
    }

    .img-premios h1{
        font-size: larger;
        width: 12rem;
        line-height: 2rem;
    }

    .img-premios img, .img-premio img{
        height: 15rem;
        margin-bottom: -13rem;
    }

    .img-premio img{
        margin-top: -3rem;
    }

    .div-premios{
        gap: 0.5rem;
        margin-top: -2rem;
    }

    .membro img {
        width: 5rem;
    }
    .membro ion-icon {
        font-size: 1rem;
    }

    .membro p{
        font-size: small;
    }

    footer p{
        font-size: xx-small;
        flex-wrap: wrap;
    }

    .ion-footer{
        font-size: 1.2rem;
    }
}


@media (min-width: 480px) {
    .secao1{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slogan h1{
        width: 15rem;
        line-height: 2.2rem;
    }

    .objetivos{
        margin-left: 4rem;
        margin-right: 3rem;
    }

    .secao3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .texto1 p{
        width: 38rem;
        line-height: 2rem;
    }

    .objetivos{
        justify-content: center;
        align-items: center;
        width: 40rem;
    }

    .texto2 p{
        width: 31rem;
    }

    .topico2{
        padding-left: 2rem;
    }

    .texto2{
        justify-content: center;
        align-items: center;
        padding: 0 2rem 0 2rem;
    }
    

    .dividindo{
        margin-left: 7rem;
    }

    .dividindo img, .img-vantagens{
        margin-right: 10rem;
    }

    .feed h1{
        width: 22rem;
    }

    .videochamada p{
        width: 17rem;
    }

    .chatI{
        justify-content: center;
        margin-left: 17rem;
        gap: 12rem;
    }

    .texto1 .textos2{
        width: 40rem;
    }

    .premios{
        margin: 7rem 7rem 17rem 7rem;
    }

    .img-tecnologias {
        padding: 1rem 2rem 3rem 2rem;
    }

}

@media (min-width: 412px){
    header{
        justify-content:flex-start;
        align-items: center;
    }

    .texto1{
        width: 100%;
    }
    
    .planos {
        padding: 5rem 0 1rem 0;
        margin-bottom: -4rem;
    }
    .premios{
        margin: 7rem 1rem 1rem 1rem;
        padding: 3rem 0 15rem 0;
    }
    .objetivos {
        margin-bottom: 1rem;
    }

}

@media (min-width: 1000px){
    header{
        justify-content: center;
        gap: 25rem;
    }

    .slogan h1{
        font-size: 2.5rem;
        width: 28rem;
        line-height: normal;
    }

    .secao1{
        width: 100%;
    }

    .texto1{
        width: 50%;
    }

    .texto1 p{
        width: 100%;
        line-height: 2.5rem;
        margin-bottom: 3rem;
    }

    .topico2{
        padding-left: 0rem;
    }

    .texto2{
        padding: 0 0 0 0rem;
        width: 100%;
        line-height: 2.3rem;
    }

    .objetivos{
        margin-left: 22rem;
        padding: 2rem 2rem 2rem 3rem;
        justify-content: center;
    }

    .plano{
        gap: 5rem;
        align-items: center;
    }

    
    .feed p{
        width: 24rem;
    }
    
    .dividindo{
        gap: 8rem;
        margin-bottom: 12rem;
    }
    
    
    .videochamada p{
        width: 19rem;
    }

    .chatI{
        margin-right: 30rem;
    }


    .chatIn{
        margin-left: -12rem;
    }


    .secao3{
        margin-right: 22rem;
    }

    .planos {
        padding: 5rem 0 3rem 0;
        margin-bottom: -4rem;
    }
    
    .premios {
        padding: 3rem 0 18rem 0;
        margin: 7rem 12rem 1rem 12rem;
    }
   .img-vantagens{
        width: 20rem;
    }
}

@media (max-width: 400px){
    header{
        width: 100%;
        justify-content: flex-start;
        gap: 15px;
    }

    .navegacao a{
        font-size: 72%;
    }

    .logo-liveInShape img{
        height: 5rem;
    }

    .secao1{
        margin-top: 2rem;
        flex-direction: column-reverse;
        gap: 0rem;
    }

    .logo-goodShape img{
        height: 13rem;
    }

    .slogan h1{
        margin-top: -2rem;
        font-size: larger;
        width: 72%;
        padding: 0 0 0 3rem;
        line-height: normal;
        text-align: center;
    }

    .botao{
        padding: 6px;
        width: 6rem;
        margin-left: 35%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        background-color: var(--cor-terciaria);
    }

    .topico1 h1{
        font-size: larger;
    }

    .texto1 p{
        font-size: medium;
        line-height: 2rem;
        padding: 0 1rem 0 1rem;
    }

    .objetivos{
        width: 83%;
        border-radius: 22px;
        margin: 0 1rem 0 0.8rem;
        padding: 1rem;
        margin-top: 3rem;
    }

    .topico2 h1{
        font-size: larger;
        margin-left: -4rem;
    }

    .texto2 p{
        font-size: medium;
        margin-left: -4rem;
        line-height: 1.8rem;
    }

    .topico3 h1{
        font-size: larger;
    }

    .dividindo img, .img-vantagens{
        height: 8rem;
        margin-left: -9rem;
        margin-top: -1rem;
    }

    .feed h1{
        font-size: medium;
        width: 10rem;
    }

    .feed p{
        font-size: small;
        line-height: 1.3rem;
        width: 9rem;
    }

    .feed{
        width: 100%;
        margin-left: 2rem;
    }

    .videochamada{
        width: 100%;
        margin-left: 2rem;
    }

    .videochamada h1{
        font-size: medium;
        width: 12rem;
    }

    .videochamada p{
        font-size: small;
        line-height: 1.3rem;
        width: 10rem;
    }
    
    .chatI{
        width: 100%;
        margin-left: 10rem;
    }

    .chatIn p{
        width: 11rem;
        font-size: small;
        text-align: start;
    }

    .chatI img {
        height: 8rem;
        margin-right: 12rem;
        margin-top: 0rem;   
    }

    .chatIn{
        width: 100%;
        margin-left: -18rem;
    }

    .beneficios1, .beneficios2, .beneficios3{
        margin-left: 2.5rem;
        width: 16rem;
        padding: 1rem;

    }

    .beneficios1 p, .beneficios2 p, .beneficios3 p{
        font-size: small;
        line-height: 1.5rem;
    }

    .beneficios1 img, .beneficios2 img, .beneficios3 img{
        height: 1rem;
    }

    .beneficios1 p, .beneficios2 p, .beneficios3 p{
        width: 100%;
    }


    .planos, .plano {
        flex-direction: column;
        justify-content: center;
    }

     .plano {
        gap: 2rem;
    }

    .planos{
        padding: 5rem 0 3rem 0;
        margin-bottom: -4rem;
    }

    .titulos2{
        font-size: larger;
    }

    .textos2{
        font-size: medium;
        width: 100%;
    }


    .tecnologias2 {
        gap: 0.5rem;
    }

    .tecnologias{
        margin-top: -15rem;
    }


    .img-tecnologias img {
        width: 100%;
        height: 6rem;
    }

    .textos1{
        font-size: medium;
    }

    .img-tecnologias {
        padding: 1rem 0.5rem 1rem 0.5rem;
    }

    .img-tecnologias .textos1 {
        margin-top: 1.5rem;
    }

    .premios{
        margin: 7rem 1rem 1rem 1rem;
        padding: 3rem 0 9rem 0;
    }

    .img-premio {
        width: 10rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
    }

    .img-premios h1{
        font-size: medium;
        width: 10rem;
        line-height: 2rem;
    }

    .img-premios img, .img-premio img{
        height: 12rem;
        margin-bottom: -7rem;
    }

    .img-premio img{
        margin-top: -3rem;
    }

    .div-premios{
        gap: 0rem;
        margin-top: -2rem;
    }

    .membro img {
        width: 5rem;
    }
    .membro ion-icon {
        font-size: 1rem;
    }

    .membro p{
        font-size: small;
    }

    footer p{
        font-size: 62%;
        flex-wrap: wrap;
        line-height: 1rem;
        padding: 0 0 1rem 0;
    }

    .ion-footer{
        font-size: 1.2rem;
    }

}

@media (max-width: 700px){

    .container {
        width: 90%;
    }

    .card-benefit {
        flex-direction: column-reverse;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
        transition: 0.3s;
    }

    .card-benefit-content {
        width: 100%;
        margin-top: 20px;
    }

    .card-benefit-content {
        width: 100%;
    }

    .card-benefit img {
        width: 160px;
        height: 160px;
    }
}
