@media screen and (max-width: 780px) and (min-width: 400px) {
    /* body{
        width: 100%;
    }

    main{
        width: 100%;
    } */
    
    header{
        
        gap:1.5rem;
        display: flex;
        /* justify-content: flex-start; */
    }

    header nav{
        margin-left: -1rem;
        font-size: small;
    }

    .secao1{
        width: 100%;
        margin-top: 2rem;
        display: flex;
        justify-content: flex-start;
    }

    .secao1 img{
        height: 10rem;
        margin-left: -2rem;
    }

    .slogan h1{
        font-size: 137%;
        width: 11rem;
        margin-left: 2rem;
        line-height: 1.6rem;
      
    }

    .botao{
        padding: 8px;
        width: 6rem;
        margin-left: 2rem;
        margin-top: 1rem;
        background-color: var(--cor-terciaria);
    }

    .topico1 h1{
        width: 100%;
        font-size: x-large;
    }

    .texto1 p{
        font-size: medium;
        width: 21rem;
        line-height: 1.8rem;
    }

    .objetivos{
        width: 23rem;
        margin-left: 1.5rem;
        padding: 0rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .topico2 h1{
        width: 100%;
        font-size: x-large;
        margin-left: -2rem;
    }

    .texto2 p{
        font-size: medium;
        width: 19rem;
        line-height: 1.8rem;
        margin-left: -2rem;
    }

    .topico3 h1{
        width: 100%;
        font-size: x-large;
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }

    .dividindo img{
        height: 8rem;
        margin-left: -9rem;
        margin-top: -2rem;
    }

    .feed h1{
        font-size: large;
        width: 18rem;
    }

    .feed p{
        font-size: medium;
        line-height: 1.8rem;
        width: 16rem;
    }

    .feed{
        width: 100%;
        margin-left: 2rem;
    }

    .videochamada{
        width: 100%;
        margin-left: 2rem;
    }

    .videochamada h1{
        font-size: large;
        width: 18rem;
    }

    .videochamada p{
        font-size: medium;
        line-height: 1.8rem;
        width: 16rem;
    }
    
    .chatI{
        width: 100%;
        margin-left: 9rem;
    }

    .chatI img{
        height: 8rem;
        margin-right: 12rem;
        margin-top: 0rem;   
    }

    .chatIn{
        width: 100%;
        margin-left: -19rem;
    }

    .beneficios, .beneficios2, .beneficios3{
        margin-left: 1rem;
        width: 22rem;
        padding: 1rem;

    }

    .beneficios p, .beneficios2 p, .beneficios3 p{
        font-size: medium;
        line-height: 1.5rem;
    }

    .beneficios img, .beneficios2 img, .beneficios3 img{
        height: 2rem;
    }


    .beneficios2 img{
        margin-left: 2rem;
    }

    .beneficios2 p{
        width: 14rem;
    }

    .beneficios3 p{
        width: 17rem;
    }
    .planos, .plano {
        flex-direction: column;
        justify-content: center;
    }

    .plano {
        gap: 2rem;
    }

    .planos{
        margin-bottom: 7rem;
    }

    .titulos2{
        font-size: x-large;
    }

    .tecnologias2 {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin-top: 6rem;
    }

    .img-tecnologias img {
        width: 5rem;
        height: 5rem;
    }

    .textos1{
        font-size: medium;
    }

    .img-tecnologias {
        padding: 1rem 1rem 1rem 1rem;
    }

    .img-tecnologias .textos1 {
        margin-top: 2rem;
    }

    .premios{
        margin: 7rem 1rem 17rem 1rem;
    }

    .img-premio {
        width: 10rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
    }

    .img-premios h1{
        font-size: larger;
        width: 12rem;
        line-height: 2rem;
    }

    .img-premios img, .img-premio img{
        height: 15rem;
        margin-bottom: -13rem;
    }

    .img-premio img{
        margin-top: -3rem;
    }

    .div-premios{
        gap: 0.5rem;
        margin-top: -2rem;
    }



    .membro img {
        width: 5rem;
    }
    .membro ion-icon {
        font-size: 1rem;
    }

    .membro p{
        font-size: small;
    }

    footer p{
        font-size: xx-small;
        flex-wrap: wrap;
    }
}


@media (min-width: 480px) {
    .secao1{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slogan h1{
        width: 15rem;
        line-height: 2.2rem;
    }

    .objetivos{
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .secao3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .texto1 p{
        width: 38rem;
        line-height: 2rem;
    }

    .objetivos{
        justify-content: center;
        align-items: center;
        width: 40rem;
    }

    .texto2 p{
        width: 31rem;
    }

    .topico2{
        padding-left: 2rem;
    }

    .texto2{
        justify-content: center;
        align-items: center;
        padding: 0 2rem 0 2rem;
    }
    

    .dividindo{
        margin-left: 7rem;
    }

    .dividindo img{
        margin-right: 10rem;
    }

    .feed h1{
        width: 22rem;
    }

    .videochamada p{
        width: 17rem;
    }

    .chatI{
        justify-content: center;
        margin-left: 17rem;
        gap: 12rem;
    }

    .texto1 .textos2{
        width: 25rem;
    }

    .premios{
        margin: 7rem 7rem 17rem 7rem;
    }

    .img-tecnologias {
        padding: 1rem 2rem 3rem 2rem;
    }

}

@media (min-width: 412px){
    header{
        justify-content:flex-start;
        align-items: center;
    }

    .texto1{
        width: 100%;
    }
    
}

@media (min-width: 1000px){
    header{
        justify-content: center;
        gap: 25rem;
    }

    .slogan h1{
        font-size: 2.5rem;
        width: 28rem;
        line-height: normal;
    }

    .secao1{
        width: 100%;
    }

    .texto1 p{
        width: 100%;
        line-height: 2.5rem;
        margin-bottom: 3rem;
    }

    .topico2{
        padding-left: 0rem;
    }

    .texto2{
        padding: 0 0 0 0rem;
        width: 100%;
        line-height: 2.3rem;
    }

    .objetivos{
        margin-left: 20rem;
        padding: 2rem 2rem 2rem 3rem;
        justify-content: center;
    }

    

    
    .feed p{
        width: 24rem;
    }
    
    .dividindo{
        gap: 8rem;
        margin-bottom: 12rem;
    }
    
    
    .videochamada p{
        width: 19rem;
    }

    .chatI{
        margin-right: 30rem;
    }



    .chatIn{
        margin-left: -12rem;
    }


    .secao3{
        margin-right: 22rem;
    }
}