@media screen and (max-width: 780px) and (min-width: 400px) {
    /* body{
        width: 100%;
    }

    main{
        width: 100%;
    } */
    
    header{
        
        gap:1.5rem;
        display: flex;
        /* justify-content: flex-start; */
    }

    header nav{
        margin-left: -1rem;
        font-size: small;
    }

    .secao1{
        width: 100%;
        margin-top: 2rem;
        display: flex;
        justify-content: flex-start;
    }

    .secao1 img{
        height: 10rem;
        margin-left: -2rem;
    }

    .slogan h1{
        font-size: 137%;
        width: 11rem;
        margin-left: 2rem;
        line-height: 1.6rem;
      
    }

    .botao{
        padding: 8px;
        width: 6rem;
        margin-left: 2rem;
        margin-top: 1rem;
        background-color: var(--cor-terciaria);
    }

    .topico1 h1{
        width: 100%;
        font-size: x-large;
    }

    .texto1 p{
        font-size: medium;
        width: 21rem;
        line-height: 1.8rem;
    }

    .objetivos{
        width: 23rem;
        margin-left: 1.5rem;
        padding: 0rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .topico2 h1{
        width: 100%;
        font-size: x-large;
        margin-left: -2rem;
    }

    .texto2 p{
        font-size: medium;
        width: 19rem;
        line-height: 1.8rem;
        margin-left: -2rem;
    }

    .topico3 h1{
        width: 100%;
        font-size: x-large;
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }

    .dividindo img{
        height: 8rem;
        margin-left: -9rem;
        margin-top: -2rem;
    }

    .feed h1{
        font-size: large;
        width: 18rem;
    }

    .feed p{
        font-size: medium;
        line-height: 1.8rem;
        width: 16rem;
    }

    .feed{
        width: 100%;
        margin-left: 2rem;
    }

    .videochamada{
        width: 100%;
        margin-left: 2rem;
    }

    .videochamada h1{
        font-size: large;
        width: 18rem;
    }

    .videochamada p{
        font-size: medium;
        line-height: 1.8rem;
        width: 16rem;
    }
    
    .chatI{
        width: 100%;
        margin-left: 9rem;
    }

    .chatI img{
        height: 8rem;
        margin-right: 12rem;
        margin-top: 0rem;   
    }

    .chatIn{
        width: 100%;
        margin-left: -19rem;
    }

    .beneficios, .beneficios2, .beneficios3{
        margin-left: 1rem;
        width: 22rem;
        padding: 1rem;

    }

    .beneficios p, .beneficios2 p, .beneficios3 p{
        font-size: medium;
        line-height: 1.5rem;
    }

    .beneficios img, .beneficios2 img, .beneficios3 img{
        height: 2rem;
    }


    .beneficios2 img{
        margin-left: 2rem;
    }

    .beneficios2 p{
        width: 14rem;
    }

    .beneficios3 p{
        width: 17rem;
    }
    .planos, .plano {
        flex-direction: column;
        justify-content: center;
    }
    .plano {
        gap: 2rem;
    }
    .tecnologias2 {
        flex-direction: column;
        align-items: center;
    }
    .premios {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .img-premio {
        width: 10rem;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .membro img {
        width: 5rem;
    }
    .membro ion-icon {
        font-size: 1rem;
    }
}


@media (min-width: 480px) {}
@media (min-width: 768px) {}