/* Fonte Padrão */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* Cores Padrões */
:root {
    --cor-primaria:#64baa1;
    --cor-secundaria:#33a483;
    --cor-terciaria:#021f53;
    --cor-quartenaria:#1e3866;
    --cor-quintenaria:#a3e5f3;
    --cor-senaria:#fff;
}
